<a href="https://colab.research.google.com/github/pallavi2kurapati/pallavi2kurapati/blob/main/pythonsep15.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("hello world")

hello world

In [3]:
num1=int(input("the first number is"))
num2=int(input("the second number is"))
add=num1+num2
sub=num1-num2
mul=num1*num2
print("num1+num2=",add)
print("num1-num2=",sub)
print("num1*num2=",mul)

the first number is3
the second number is2
num1+num2= 5
num1-num2= 1
num1*num2= 6

In [5]:
a=3
print(type(a))

<class 'int'>

In [6]:
a="3"
print(type(a))

<class 'str'>

In [7]:
print("c is a complex number=",isinstance(1+3j,complex))

c is a complex number= True

In [11]:
str1="pallavi"
str2="kurapati"
print(str1*3)

pallavipallavipallavi

In [15]:
string3="kurapati"
print(string3[2:(3+1)])

ra

In [24]:
s="kurapati"
h="himanish"
print('u' in s)
print('b' in s)
print(s.isalpha())
print(s.isdigit())
print(s.lower())
print(s.upper())
print(s.replace('u','a'))
print(s.split("a"))

True
False
True
False
kurapati
KURAPATI
karapati
['kur', 'p', 'ti']

In [35]:
a=5
b=6
print(a+b)
print(a-b)
print(a*b)
print(a%b)
print(a**b)
print(a//b)
print(a==b)
print(a<b)
print(a>b)

11
-1
30
5
15625
0
False
True
False

In [39]:
a=15
b=20
c=a+b
print(a+b)
print("c=",c+3)
print("c=",c-3)
print("c=",c*3)

35
c= 38
c= 32
c= 105